nav{
    background: transparent;
    height: 50px;
}

header{
    background: rgba(0,0,0,0.3);
}

#banner{
    background: transparent;
    height: 700px;
}

.article #banner{
    height: 300px;
}

nav ul{
    list-style: none;
    margin: 0;
    float: right;
}

nav ul li,nav .logo{
    display: inline;
    line-height: 50px;
    margin-right: 20px;
}



nav ul li a{
    /*line-height: 50px;*/
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
}

#banner .inner{
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
}

.article #banner .inner
{
    top:30px;

}

#banner .inner h1{
    margin: 0;
}

button{
    border: none;
    background: #333;
    color: #eee;
    padding: 10px;
}

#banner button{
    padding: 14px 28px;
    font-size: 20px;
    letter-spacing: 4px;
    border-radius: 6px;
    background: #1188aa;
}

#banner .inner .more{
    margin-top: 200px;
}

.sub-head{
    line-height: 30px;
    margin: 30px 0px;
    font-size: 18px;
}

.logo{
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 1px;
    padding: 10px;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

h1{
    padding: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.article h1
{
    border:none;
}

h2{
    font-size: 30px;
    margin: 0px;
}

h3{
    font-size: 24px;
}

.p{
    font-size: 18px;
    letter-spacing: 1px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.green-section{
    background: #089db0;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}

.green-section .hr{
    background: #078494;
    width: 60%;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #078494;
    transform:rotate(45deg);
    margin: 20px;
}

.icon-group{
    margin-top: 60px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

.gray-section{
    background: #252f34;
    color: #fff;
}

.gray-section .img-section{
    width: 45%;
}

.img-section img{
    width: 100%;
}
.gray-section .text-section{
    width: 55%;
    /*word-wrap: break-word;*/
}

.article-preview > div{
    float: left;
    font-size: 0;
}

/*.article-preview*/


.article-preview:nth-child(odd){
    background-color: rgba(255,255,255,0.05);
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.article-preview:after{
    content: '';
    display: block;
    clear: both;
}

.text-section .text-section-frame{
    position: relative;
    top: 68px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 20px;
}

.text-section .sub-head{
    width: 100%;
    font-size: 22px;
    margin-top: 0px;
    word-wrap: break-word;
}

.text-section p{
    word-wrap: break-word;
    font-size: 18px;
    letter-spacing: 1px;
}

.text-section > *{
    max-width: 90%;
}

.purple-section{
    padding: 80px;
    background: #3f3965;
    color: #fff;
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background: #373259;
    width: 60%;
}

.card-group{
    word-wrap: break-word;
}

.card{
    float: left;
    width: 50%;
    min-height: 300px;
    word-wrap: break-word;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid white;*/
}

.card:first-child{
    background: rgba(0,0,0,0.04);
}

.card:nth-child(2){
     background: rgba(0,0,0,0.08);
 }

.card:nth-child(3){
    background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
    background: rgba(0,0,0,0.16);
}

.card:nth-child(5){
    background: rgba(0,0,0,0.20);
}

.card:nth-child(6){
    background: rgba(0,0,0,0.24);
}

footer{
    background: #333333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

ul{
    margin: 0;
}

ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 30px;
}

.share-group li{
    display: inline-block;
    padding: 10px;
}

.copy{
    padding-bottom: 20px;
}

.main-wrapper{
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.mask{
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    lef:0;
    width: 100%;
    background: rgba(0,0,0,0.3);
}

#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;

    /*css3方法*/
    /*right:0;
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);*/
    width:300px;
    background: #333;
    color: #fff;
    padding: 20px 0;
    transition: all 0.5s;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul a{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    display: inline-block;
}

#sidebar ul a:hover{
    background: #444;
}

.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border:1px solid #888;
}

.article .content
{
    background: #fefefe;
}

article
{
    line-height: 2;
    padding: 10px 0;
}

.content_wrapper
{
    width: 1080px;
    margin: 0 auto;
}

.article_info
{
    font-size: 14px;
    color:#888;
    padding: 15px 0;

}