body{
    margin: 0;
    padding: 0;
}
.c1{
    width: 200px;
    height:200px;
    background:#0099FF;
}

.c2{
    width: 200px;
    height:400px;
    background:#eee;
}

.c3{
    width: 200px;
    height: 300px;
    float: left;
}